{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <article>
        <h2>A Blog Powered by Django</h2>
        <h3>关于本站：</h3>
        <li>发布文章</li>
        <li>写评论</li>
        <li>分页</li>
        <li>文章归档</li>
        <li>标签云</li>
        <li>富文本编译器</li>
        <li>代码高亮(待完善)</li>
        <li>微博登录(待完善)</li>
        <li>引入多说</li>
        <h3>关于作者：</h3>
        <li>新浪微博: <a href="http://weibo.com/522878950" target="_blank">fool_self</a></li>
        <li>Email: foolselfgm@gmail.com</li>
        <li>Github:<a href="http://github.com/foolself/" target="_blank">foolself</a></li>
      </article>
{% endblock %}