{% extends 'base.html' %}
{% block content %}
<div class="date">
	{% if user.is_authenticated %}
		Created:{{ article.created_date }}
		{% if not article.published_date%}
		<a href="{% url 'blog.views.article_publish' pk=article.pk %}">Publish</a>
		{% endif %}
		<a href="{% url 'article_edit' pk=article.pk %}">edit</a>
		<a href="{% url 'article_remove' pk=article.pk %}">remove</a>
	{% endif %}
</div>
	<h1 align="center">{{ article.title }}</h1>
    <p align="right">--{{ article.published_date}}</p>
	<div class="content">{{ article.text | safe }}</div>
<br><br>

<hr class="b">
<!-- 新浪微博评论箱>
<wb:comments url="http://foolselfblog.sinaapp.com{% url 'blog.views.article_detail' pk=article.pk %}" width="auto" skin="gray" appkey="3125712034" ></wb:comments-->

<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key={{ article.id }} data-title={{ article.title }} data-url="http://foolselfblog.sinaapp.com{% url 'blog.views.article_detail' pk=article.pk %}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"foolselfblog"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

{% endblock %}
