<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>foolselfblog</title>
	<link rel="shortcut icon" href="/static./images/blog.ico" type="image/x-icon">
	<meta name="description" content="Free Responsive Html5 Css3 Templates Designed by Kimmy | ">
	<meta name="author" content="">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="/static/js/html5.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
	<![endif]-->
	<!--tinymce-->
	<script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
    <script src="/static/js/tinymce/config.js"></script>
<!--sinaweibo api-->
    <meta property="wb:webmaster" content="20a959da284bf50f" />
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3125712034" type="text/javascript" charset="utf-8"></script>
    <!--BaiduTongji>
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?8edf56638fcb15b11b619e617058bf5a";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
     </script-->
	<!--代码高亮-->
    <link href="/static/prism.css" rel="stylesheet" />
</head>
<body>
<!--代码高亮-->
<script src="/static/prism.js" ></script>
<div class="wrap-body zerogrid">
<!--------------Header--------------->
<header>
	<div class="wrap-header">
		
		<div class="top">
			<div class="socials">
				<ul>
					<li><a href="http://github.com/foolself/" target="_blank"><img  src="/static/images/socials/github.png" /></a></li>
					<li><a href="#" target="_blank"><img  src="/static/images/socials/google_p.png" /></a></li>
					<li><a href="#" target="_blank"><img  src="/static/images/socials/twitter.png" /></a></li>
					<li><a href="http://weibo.com/522878950" target="_blank"><img  src="/static/images/socials/sina_weibo.png"/></a></li>
				</ul>
			</div>
			<div id="search">
				<form action="{% url 'search'%}" class="navbar-form navbar-left" role="search">
				<button type="submit" class="button-search" style="background-color: Transparent;border-style :none;"></button>
				<input type="text" name="q" value="Search..." onFocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onBlur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
				</form>
			</div>
		</div>
		
		<div id="logo">
			<a href="#"><h1>Foolself Blog </h1></a>
			<p> | a personal blog by foolself.</p>
		</div>
		
		<nav>
			<div class="wrap-nav">
				<div class="menu">
					<ul>
						<li><a href="{% url 'home'%}">Home</a></li>
						<li><a href="{% url 'message'%}">Message</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="{% url 'about'%}">About</a></li>
						{% if user.is_authenticated %}
						<li style="float:right"><a href="{% url 'logout'%}">Logout</a></li>
						<li><a href="{% url 'article_draft_list'%}">Draft</a></li>
						<li><a href="{% url 'article_new'%}">Add</a></li>
						{% else %}
						<li style="float:right"><a href="{% url 'login'%}">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		
	</div>
</header>
<!--------------Content--------------->
<section id="content">
	<div class="wrap-content">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="wrap-col">
					{% block content %}
					{% endblock %}
				</div>
			</div>
			{% block side %}
			{% include "right_side.html" %}
			{% endblock %}
		</div>
	</div>
</section>
{% block footer %}
{% include "footer.html" %}
{% endblock %}

</div>
</body></html>