<!--------------Footer--------------->
<footer>
	<div class="wrap-footer">
		<div class="row">
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h2>Image Gallery</h2></div>
						<div class="content gallery">
							<a href="#"><img src="/static/images/img1.jpg" width="120"/></a>
							<a href="#"><img src="/static/images/img2.jpg" width="120"/></a>
							<a href="#"><img src="/static/images/img3.jpg" width="120"/></a>
							<a href="#"><img src="/static/images/img4.jpg" width="120"/></a>
							<a href="#"><img src="/static/images/img5.jpg" width="120"/></a>
							<a href="#"><img src="/static/images/img1.jpg" width="120"/></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h2>About the Site</h2></div>
						<div class="content">
							<a href="http://foolselfblog.sinaapp.com" target="_blank">
							<img src="/static/images/blog.png" style="border: 0px;width: 100px; height:100px;" float:left;/></a>
							<p>Website : <a href="www.foolselfblog.sinaapp.com" target="_blank">www.foolselfblog.sinaapp.com</a></p>
							<p><a href="www.foolselfblog.sinaapp.com" target="_blank">Foolself Blog</a> created by <a href="#">foolself</a>. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h2>Contact me</h2></div>
						<div class="content">
							<p>Email: foolselfgm@gmail.com</p>
							<p>sinaWeibo: <a href="http://weibo.com/522878950" target="_blank">fool_self</p>
							<p>Address:  Ji'nan Shandong Shanda Rd</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
        <p>&copy; 2014 - 2016 Foolself. All Rights Reserved. </p>
	</div>
</footer>