{% extends 'base.html' %}
{% load pagination_tags %}
{% block content %}
{% autopaginate article_list 6 %}
	{% for article in article_list %}
					<article>
						<div class="heading">
							<h2><a href="{% url 'blog.views.article_detail' pk=article.pk %}">{{ article.title }}</a><span style="font-size:20px;float:right;color:#A5A5A5">{{ article.published_date| date:'Y-m-d' }}</span></h2>
						</div>
						<div class="content">
							{% if article.imageURL %}
							<img src="{{ article.imageURL}}" width="250px" height="100px"/>
							{% endif %}
							<p>{{ article.text | striptags | truncatechars:140 }}</p>
							<br><br><br>

						</div>
						<div class="info">
							<p>{% for tag in article.tag.all %} <a href="{% url 'tag' %}?tid={{ tag.id }}">{{ tag }}</a> {% endfor %}
							<span style="float:right">{{ article.view_count }}-views...{{ article.comment_count }}-comments</span></p>
						</div>
					</article>
	{% endfor %}
{% paginate %}
{% endblock %}