{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<h2>Message board</h2>
<article>
{% for message in messages %}
<article>
    <div style="font-size:20px">{{ message.date }}...<a>{{ message.name }}</a> said:
        {% if user.is_authenticated %}
            <span style="float:right"><a href="{% url 'message_delete' pk=message.pk %}">Delete</a></span>
        {% endif %}
    </div>
    <p>{{ message.content | safe }}</p>
</article>
{% endfor %}
</article>
<br><br>
<h2>Edit Message</h2>
<form method="POST" action="{% url 'message_post' %}" class="post-form">{% csrf_token %}
    {{ message_form.as_p }}
    <button type="submit" class="save btn btn-default">Send</button>
</form>
{% endblock %}